name: Update EPG Dat

on:
  schedule:
    - cron: '0 * * * *'   # run every hour
  workflow_dispatch:

jobs:
  wordpress-hunter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
        
        # Verify libpcap is installed
        dpkg -L libpcap-dev | grep pcap.h || true

    - name: Install required tools
      run: |
        # Show Go version (preinstalled on ubuntu-latest)
        go version
        
        # Install security tools
        go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
        go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
        go install -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei@latest
        go install -v github.com/projectdiscovery/naabu/v2/cmd/naabu@latest
        go install github.com/tomnomnom/httprobe@latest
        
        # Copy binaries to system path
        sudo cp ~/go/bin/* /usr/local/bin/
        
        # Update nuclei templates
        nuclei -update-templates

    - name: Clone repository
      run: git clone https://github.com/d4rk5id3r/Recon

    - name: Sleep for 10 Seconds
      run: sleep 10

    - name: Load wildcards and run subfinder
      run:  cd Recon && pwd && ls -la && chmod +x wildcards.sh && ./wildcards.sh wildcards.txt subs-found.txt
    
    - name: Probe domains with httprobe
      run: cd Recon && cat subs-found.txt | httprobe > live_websites.txt
      
    - name: Fingerprint for Wordpress servers
      run: pwd  && cd Recon && pwd && nuclei -l live_websites.txt -t /home/runner/work/extractor/extractor/Recon/version-detect.yaml -o results.txt

    - name: Extract clean WordPress URL list
      run: cd Recon && cat results.txt | awk '{print $4}' | sort -u > wordpress_urls.txt  

    - name: Enum Installed WordPress Plugins
      run:  cd Recon && nuclei -l wordpress_urls.txt -t /home/runner/work/extractor/extractor/Recon/plugins.yaml -o installed_plugins.txt

    - name: Enum Installed Wordpress themes
      run: cd Recon && nuclei -l wordpress_urls.txt -t /home/runner/work/extractor/extractor/Recon/themes.yaml -o installed_themes.txt

    - name: Upload Reported
      uses: actions/upload-artifact@v4
      with:
        name: report
        path: | 
          /home/runner/work/extractor/extractor/Recon/wordpress_urls.txt
          /home/runner/work/extractor/extractor/Recon/installed_plugins.txt
          /home/runner/work/extractor/extractor/Recon/installed_themes.txt
