name: Update EPG Dat

on:
  schedule:
    - cron: '0 * * * *'   # run every hour
  workflow_dispatch:

jobs:
  wordpress-hunter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Update system Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev curl
        
        # Verify libpcap is installed
        dpkg -L libpcap-dev | grep pcap.h || true

    - name: Download wildcards
      run: |
       wget https://raw.githubusercontent.com/d4rk5id3r/Recon/refs/heads/main/wildcards.txt -O wildcards.txt
       # Count total lines
          total_lines=$(wc -l < data.txt)
          echo "Total lines: $total_lines"
          
          # Calculate lines per file (rounded up)
          per_file=$(( (total_lines + 4) / 5 ))
          echo "Lines per file: $per_file"
          
          # Split into 5 files named data1.txt, data2.txt, ...
          split -l $per_file -d --additional-suffix=.txt data.txt data
          
          # Rename split files to data1.txt, data2.txt, ...
          for i in {0..4}; do mv data0$i.txt data$((i+1)).txt; done
          
          ls -l data*.txt
    
  deploy:
    runs-on: ubuntu-latest
    needs: wordpress-hunter
    strategy:
      matrix:
        file: [data1.txt, data2.txt, data3.txt, data4.txt, data5.txt]
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          echo "Running tests with ${{ matrix.file }}..."
          cat ${{ matrix.file }}

      - name: Update system Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libpcap-dev curl
          # Verify libpcap is installed
          dpkg -L libpcap-dev | grep pcap.h || true

      - name: Clone repository
        run: git clone https://github.com/d4rk5id3r/Recon

      - name: Sleep for 10 Seconds
        run: sleep 10

      - name: Load wildcards and run subfinder
        run:  cd Recon && pwd && ls -la && chmod +x wildcards.sh && ./wildcards.sh ${{ matrix.file }} subs-found${{ matrix }}.txt

      - name: Probe domains with httprobe
        run: cd Recon && cat subs-found${{ matrix }}.txt | httprobe > live_websites.txt 
    
