name: Update EPG Dat

on:
  schedule:
    - cron: '0 * * * *'   # run every hour
  workflow_dispatch:

jobs:
  wordpress-hunter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
        
        # Verify libpcap is installed
        dpkg -L libpcap-dev | grep pcap.h || true

    - name: Install required tools
      run: |
        # Show Go version (preinstalled on ubuntu-latest)
        go version
        
        # Install security tools
        go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
        go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
        go install -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei@latest
        go install -v github.com/projectdiscovery/naabu/v2/cmd/naabu@latest
        
        # Copy binaries to system path
        sudo cp ~/go/bin/* /usr/local/bin/
        
        # Update nuclei templates
        nuclei -update-templates

    - name: Clone repository
      run: git clone https://github.com/d4rk5id3r/Recon

    - name: Sleep for 10 Seconds
      run: sleep 10

    - name: Load wildcards and run subfinder
      run:  cd Recon && pwd && ls -la && chmod +x wildcards.txt && ./wildcards.sh wildcards.txt subs-found.txt && cat subs-found.txt >> domains.txt && cat domains.txt
    
    - name: Probe domains with httpx
      run: cd Recon && cat domains.txt | httpx -ports 80,443,8080,8000,8888 -threads 200 > subdomains_alive.txt 

    - name: Fingerprint for Wordpress servers
      run: pwd  && cd Recon && pwd

    - name: Upload Reported
      uses: actions/upload-artifact@v4
      with:
        name: report
